/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: whitesmoke;
    color: rgb(20, 17, 1);
    opacity: .7;
}

h2 {
  text-align:center;
}

h3 {
  text-align:center;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  color: rgb(20, 17, 1);
  text-align: justify;
  line-height: 20px;
  background: whitesmoke;
  background: whitesmoke;
  opacity: .7;
  box-shadow: 0 0 15px rgba(148, 134, 7, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: rgb(20, 17, 1);
  font: 14px/16px Arial, Helvetica, sans-serif;
  opacity: .7;
  text-align: center
}
.legend {
  line-height: 18px;
  color: rgb(20, 17, 1);
  text-align: center
}
.legend i {
  width: 25px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
